.mypage-area {
    margin-left: 40px;
    margin-right: 40px;
}

.profile-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
    padding: 70px 0;
}

.mypage-menu {
    display: flex;
    align-items: center;
}

.user-wrap {
    display: flex;
    align-items: center;
    gap: 80px;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-image.default {
    background-color: #ccc;
    display: inline-block;
}

.user-wrap span {
    font-size: 36px;
    font-weight: bold;
    color: #000000;
}

/* プロフィール編集ボタン */
.profile-menu .profile-change__send {
    display: inline-block;
    padding: 10px 30px;
    border: 2px solid #FF5555;
    /* 赤枠 */
    color: #FF5555;
    /* 赤文字 */
    border-radius: 8px;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

.product-menu {
    display: flex;
    gap: 60px;
    padding: 10px 120px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    /* ← 擬似要素の基準 */
}

.product-menu::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100vw;
    /* ← 画面幅いっぱい */
    border-bottom: 2px solid #5F5F5F;
    pointer-events: none;
}

.product-menu a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.card a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.list-block {
    display: block;
    /* 横並びにならないように */
    width: 100%;
    /* 画面いっぱい */
    margin-top: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4列グリッド */
    gap: 32px;
    padding: 20px 0;
    /* 上下余白 */
}

.card {
    overflow: hidden;
    width: 100%;
    max-width: 290px;
}

.card-image {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;
}

.card a {
    display: block;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

/* 商品名を画像の下・左寄せで表示 */
.card p {
    margin: 6px 0 0 4px;
    /* 上に少し余白＋左寄せ */
    font-size: 14px;
    text-align: left;
}

a.active {
    font-weight: bold;
    color: #FF0000
}

@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .product-area {
        max-width: 1400px;
        margin: 0 auto;
        padding: 0 40px;
        box-sizing: border-box;
    }
}