.address-form__content {
    width: 640px;
    margin: 0 auto;
    padding: 40px 0;
}

.address-form__heading {
    margin-top: 20px;
    margin-bottom: 80px;
    text-align: center;
}

h2 {
    font-size: 36px;
}

.address-form__inner {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.address-form__inner form {
    width: 100%;
    max-width: 640px;
}

.form__group {
    margin-bottom: 40px;
}

.form__group-title {
    text-align: left;
    margin-bottom: 10px;
}

.address-form__error-message {
    height: 20px;
    color: #FF5555;
    text-align: left;
}

.form__label--item {
    font-weight: bold;
    font-size: 24px;
}

.form__input--text input {
    padding: 10px;
    width: 100%;
    height: 45px;
    border: 1px solid #5F5F5F;
    border-radius: 6px;
    appearance: none;
    font-size: 22px;
    font-weight: bold;
    color: #5F5F5F;
}

.form__button {
    margin-top: 40px;
}

.form__button-submit {
    padding: 10px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #FF5555;
    color: #fff;
    cursor: pointer;
    font-size: 23px;
    font-weight: bold;
    margin-top: 40px;
}

@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .address-form__content {
        max-width: 1400px;
        margin: 0 auto;
        padding: 0 40px;
        box-sizing: border-box;
    }
}