.verify-container {
    max-width: 720px;
    margin: 60px auto;
    text-align: center;
    font-weight: bold;
}

.auth-button {
    display: inline-block;
    background-color: #D9D9D9;
    /* メインカラー */
    color: #000000;
    padding: 12px 30px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

.form__button-submit {
    background: none;
    border: none;
    color: #0073CC;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
}