html,
body {
    height: 100%;
}

.header {
    background: #000;
    padding: 0 15px;
    height: 60px;
    /* 高さ固定 */
    display: flex;
    align-items: center;
    /* 中央寄せ */
    border: 1px solid #E0DFDE;
}

.header__inner {
    margin: 0 auto;
    max-width: 1230px;
    width: 100%;
    display: flex;
    /* 横並び */
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .header {
        max-width: 1400px;
        margin: 0 auto;
        padding: 0 40px;
        box-sizing: border-box;
    }
}