.create-form__content {
    width: 680px;
    margin: 0 auto;
    padding: 40px 0;
}

.create-form__heading {
    margin-bottom: 20px;
    text-align: center;
}

.create-form__inner {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.create-form__form {
    padding: 64px 96px;
    width: 60vw;
}

.form__group-image {
    display: flex;
    align-items: center;
    gap: 20px;
    /* 画像とボタンの間隔 */
}

/* 画像（登録済み） */
.profile-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

/* 画像なし（デフォルトの灰丸） */
.profile-image--default {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #d9d9d9;
}

.image-upload-input {
    display: none;
}

/* 「画像を選択する」ラベルボタン */
.image-upload-label {
    display: inline-block;
    color: #ff4b4b;
    /* 赤文字 */
    border: 2px solid #ff4b4b;
    /* 赤枠 */
    padding: 10px 24px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    text-align: center;
    font-size: 16px;
    width: 168px;
    height: 43.46px;
    line-height: 23px;
    /* 中央揃え調整 */
}

.create-form__btn {
    border-radius: 3px;
    color: #FF5555;
}

.form__group {
    margin-bottom: 5px;
}

.form__group-title {
    text-align: left;
}

.register-form__error-message {
    height: 20px;
    color: #FF5555;
    text-align: left;
}

.form__input--text input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
}

.form__button {
    margin-top: 20px;
}

.form__button-submit {
    padding: 10px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #FF5555;
    color: #fff;
    cursor: pointer;
}

.edit-form__error-message {
    height: 20px;
    color: #FF5555;
    text-align: left;
}

@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .create-form__content {
        max-width: 1400px;
        margin: 0 auto;
        padding: 0 40px;
    }
}