.edit-form__content {
    width: 680px;
    margin: 0 auto;
    padding: 40px 0;
}

.edit-form__heading {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-size: 36px;
}

.edit-form__inner {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.edit-form__inner form {
    width: 100%;
    max-width: 640px;
    /* ← edit-form__content に合わせる */
}

.form__input--text input,
.form__button-submit {
    width: 100%;
    height: 55px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    appearance: none;
}

.form__group-image {
    display: flex;
    align-items: center;
    gap: 50px;
    /* 画像とボタンの間隔 */
    margin-bottom: 60px;
}

/* 画像（登録済み） */
.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

/* 画像なし（デフォルトの灰丸） */
.profile-image--default {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #d9d9d9;
}

.image-upload-input {
    display: none;
}

/* 「画像を選択する」ラベルボタン */
.image-upload-label {
    display: inline-block;
    color: #FF5555;
    /* 赤文字 */
    border: 2px solid #FF5555;
    /* 赤枠 */
    padding: 10px 5px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    text-align: center;
    font-size: 20px;
    width: 179px;
    height: 49px;
    line-height: 23px;
    /* 中央揃え調整 */
}

.create-form__btn {
    border-radius: 3px;
    color: #FF5555;
}

.form__group-content {
    margin-bottom: 30px;
}

.form__group-title {
    text-align: left;
    margin-bottom: 10px;
}

.form__label--item {
    font-weight: bold;
    font-size: 24px;
}

.form__input--text input {
    font-size: 22px;
    font-weight: bold;
    color: #5F5F5F;
}

.form__button {
    margin-top: 60px;
}

.form__button-submit {
    padding: 10px;
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 3px;
    background: #FF5555;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 26px;
    font-weight: bold;
}

.edit-form__error-message {
    height: 20px;
    color: #ff0000;
    text-align: left;
    font-size: 25px;
    font-weight: 500;
}

@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .create-form__content {
        max-width: 1400px;
        margin: 0 auto;
        padding: 0 40px;
    }
}